{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
</head>

<body>
    {% if questions %}
        <ul>
            {% for question in questions %}
                <li> <a href="/polls/{{ question.id }}/">{{ question.question_text }}</a> </li> <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>Sorry! No polls are availabe</p>
    {% endif %}
</body>

</html>