{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'polls/tooplate-style.css' %}">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Polls</title>

</head>

<body>

    <div class="tm-main">

        <div class="tm-welcome-section" style="background-image: url('/static/polls/images/insertion-header.jpg');">
            <div class="container tm-navbar-container">
                <div class="row">
                    <div class="col-xl-12">
                        <nav class="navbar navbar-expand-sm">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a href="/polls/" class="nav-link tm-nav-link tm-text-white">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/polls/list/" class="nav-link tm-nav-link tm-text-white active">List</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link tm-nav-link tm-text-white">About</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="container text-center tm-welcome-container">
                <div class="tm-welcome">
                    <h1 class="text-uppercase mb-3 tm-site-name">Polls</h1>
                    <p class="tm-site-description">Vote From All Available Polls</p>
                </div>
            </div>

        </div>
        <br>
        <br>
        <div class="row tm-about-row tm-mb-medium">
            <div class="tm-tab-links-container">

                <ul class="nav nav-tabs" id="tmTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link tm-bg-gray tm-media-v-center tm-tab-link active" id="home-tab"
                            data-toggle="tab" href="#tab1" role="tab" aria-controls="home" aria-selected="false">
                            <p class="media-body mb-0 tm-media-link">Sort By Latest</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tm-bg-gray tm-media-v-center tm-tab-link" id="profile-tab" data-toggle="tab"
                            href="#tab2" role="tab" aria-controls="profile" aria-selected="false">
                            <p class="media-body mb-0 tm-media-link">Sort By Oldest</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tm-bg-gray tm-media-v-center tm-tab-link" id="contact-tab" data-toggle="tab"
                            href="#tab3" role="tab" aria-controls="contact" aria-selected="false">
                            <p class="media-body mb-0 tm-media-link">Sort By High Popularity</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tm-bg-gray tm-media-v-center tm-tab-link" id="contact-tab" data-toggle="tab"
                            href="#tab4" role="tab" aria-controls="contact" aria-selected="false">
                            <p class="media-body mb-0 tm-media-link">Sort By Low Popularity</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tm-tab-content-container">
                <div class="tab-content h-100 tm-bg-gray" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                        <div class="media tm-media-2">
                            <div class="media-body tm-media-body-2">
                                {% if latest_questions %}
                                <div class="row mb-5">
                                    <div class="col-xl-12">
                                        <div class="media-boxes">
                                            {% for question in latest_questions %}
                                            <div class="media">
                                                <img src="/static/polls/images/tab1.jpg" alt="Image" class="mr-3">
                                                <a href="/polls/{{ question.id }}/" class="media-body tm-bg-gray">
                                                    <div class="tm-description-box">
                                                        <h5 class="tm-text-blue">{{ question.question_text }}</h5>
                                                    </div>
                                                    <a href="#" class="btn btn-secondary">Vote</a>
                                                </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                        <div class="media tm-media-2">
                            <div class="media-body tm-media-body-2">
                                {% if oldest_questions %}
                                <div class="row mb-5">
                                    <div class="col-xl-12">
                                        <div class="media-boxes">
                                            {% for question in oldest_questions %}
                                            <div class="media">
                                                <img src="/static/polls/images/tab2.jpg" alt="Image" class="mr-3">
                                                <a href="/polls/{{ question.id }}/" class="media-body tm-bg-gray">
                                                    <div class="tm-description-box">
                                                        <h5 class="tm-text-blue">{{ question.question_text }}</h5>
                                                    </div>
                                                    <a href="#" class="btn btn-secondary">Vote</a>
                                                </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                        <div class="media tm-media-2">
                            <div class="media-body tm-media-body-2">
                                {% if high_popular_questions %}
                                <div class="row mb-5">
                                    <div class="col-xl-12">
                                        <div class="media-boxes">
                                            {% for question in high_popular_questions %}
                                            <div class="media">
                                                <img src="/static/polls/images/tab3.jpg" alt="Image" class="mr-3">
                                                <a href="/polls/{{ question.id }}/" class="media-body tm-bg-gray">
                                                    <div class="tm-description-box">
                                                        <h5 class="tm-text-blue">{{ question.question_text }}</h5>
                                                    </div>
                                                    <a href="#" class="btn btn-secondary">Vote</a>
                                                </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                        <div class="media tm-media-2">
                            <div class="media-body tm-media-body-2">
                                {% if low_popular_questions %}
                                <div class="row mb-5">
                                    <div class="col-xl-12">
                                        <div class="media-boxes">
                                            {% for question in low_popular_questions %}
                                            <div class="media">
                                                <img src="/static/polls/images/tab4.jpg" alt="Image" class="mr-3">
                                                <a href="/polls/{{ question.id }}/" class="media-body tm-bg-gray">
                                                    <div class="tm-description-box">
                                                        <h5 class="tm-text-blue">{{ question.question_text }}</h5>
                                                    </div>
                                                    <a href="#" class="btn btn-secondary">Vote</a>
                                                </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="row">
            <div class="col-xl-12">
                <p class="text-center p-4">Copyright &copy; <span class="tm-current-year">2020</span> - Robert JR
                </p>
            </div>
        </footer>
    </div> <!-- .container -->

    </div> <!-- .main -->
    <script src="/static/polls/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/polls/js/bootstrap.min.js"></script>

</body>

</html>